# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Environments
.env
.venv/
venv/
env/

# Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
*.log
build/
dist/

# Do NOT store audio/logs in the repo
data/
